{% extends "base.html" %}
{% load static wagtailimages_tags %}

{% block body_class %}template-gallery-page{% endblock %}

{% block extra_css %}
<link href="{% static 'css/gallery_page.css' %}" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
<h3 class="text-center mt-5 header-text">{{ page.gallery_text }}</h2>
<div class="row my-5 px-4 gy-4" data-bs-toggle="modal" data-bs-target="#imagesViewerModal">
{% for item in page.gallery_images.all %}
    <div class="col-10 col-md-4 col-xl-3 text-center">
        {% image item.image original as full_im %}
        {% image item.image fill-400x400 as im%}
        <img class="gallery img-fluid shadow-sm border border-white border-5 rounded" src="{{ im.url }}" alt="{{ item.caption }}" data-bs-target="#imagesCarousel" data-bs-slide-to="{{ forloop.counter0 }}">
        {% comment %} <a href="{{ full_im.url }}">
            
        </a> {% endcomment %}
    </div>
{% endfor %}
</div>

<div class="modal fade" id="imagesViewerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-md-down" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                
                <!-- Carousel markup goes here -->
                <div id="imagesCarousel" class="carousel slide" >
                    <div class="carousel-inner">
                    {% for item in page.gallery_images.all %}
                        {% image item.image original as full_im %}
                        <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                            <img class="d-block w-100" src="{{ full_im.url }}" alt="{{ item.caption }}">
                            <div class="carousel-caption d-none d-md-block semi-transparent {% if item.caption %}bg-dark{% endif %}">
                                <h3>{{ item.caption }}</h5>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#imagesCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#imagesCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
