{% extends "base.html" %}
{% load static wagtailimages_tags %}

{% block body_class %}template-aboutus{% endblock %}

{% block extra_css %}
<link href="{% static 'css/aboutus_page.css' %}" rel="stylesheet">

{% endblock extra_css %}

{% block content %}

{% load wagtailcore_tags %}

{% image page.hero_image width-1400 as heroimg%}
<div class="w-100 px-0" style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url('{{ heroimg.url}}'), no-repeat center center; background-size:cover; height:500px">
    <div class="d-flex w-100 h-100 p-3 mx-auto">
        <div class="text-center position-relative w-100 h-100">
            <div class="w-75 position-absolute top-50 start-50 translate-middle">
                <h1 class="text-light">{{ page.hero_title }}</h1>
            </div>
        </div>
    </div>
</div>

<div class="w-100 mt-3 text-center richtext">
<h3 class="header-text text-center mb-4">ที่มา</h3>
{{ page.hero_text|richtext }}
</div>

<section class="container py-4 my-lg-3 py-sm-5">
    <hr class="red">
    <div class="row mt-sm-3 g-5">
        <div class="col-md-4 col-10">
            {% image page.first_image fill-500x500 as first_im %}
            <img class="img-fluid" src="{{ first_im.url }}" alt="First Image">
        </div>
        <div class="col-md-4 col-10">
            {% image page.second_image fill-500x500 as second_im %}
            <img class="img-fluid" src="{{ second_im.url }}" alt="Second Image">
        </div>
        <div class="col-md-4 col-10">
            {% image page.third_image fill-500x500 as third_im %}
            <img class="img-fluid" src="{{ third_im.url }}" alt="Third Image">
        </div>
    </div>
</section>

<section class="container py-4 my-lg-3 py-sm-5">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="header-text">รีวิวจากลูกค้าของเรา</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div id="reviewCarousel" class="carousel carousel-dark slide my-5" data-bs-ride="carousel" style="">
                <div class="carousel-inner">
                    {% for cus_review in page.reviews.all %}
                    <div class="carousel-item text-center {% if forloop.counter0 == 0 %}active{% endif %}" style="min-height:200px;">
                        <div class="carousel-caption d-block" style="padding: 0px 100px 0px 100px;">
                            <p>{{ cus_review.review.review_text|richtext }}</p>
                            <h6 class="fw-bold">- {{ cus_review.review.review_by }} -</h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#reviewCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#reviewCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div> 
        </div>
    </div>
    <hr class="red">
</section>

<section class="container py-4 my-lg-3 py-sm-5">
    <h3 class="header-text text-center mb-4">แผนที่</h3>
    <iframe class="border border-white border-5 shadow my-4" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d484.2766909871898!2d100.596345!3d13.826213!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcdbafe893773e9ff!2z4LmE4Liq4LmJ4LiB4Lij4Lit4LiB4LmA4Lii4Lit4Lij4Lih4Lix4LiZ4LmC4Lif4Lil4LmM4LiE4LmA4Lif4Liq4LiV4LmMIFZvbGtzZmVzdA!5e0!3m2!1sth!2sth!4v1628151724527!5m2!1sth!2sth" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>




{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/aboutus_page.js' %}"></script>
{% endblock %}
