* {
    font-family: 'Prompt', sans-serif !important
}

body {
    background: #f2f2f2;  /* fallback for old browsers */
    
}

.navbar-brand {                
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100px;        
    margin-left: 20px;
    padding: 0px;
}

.navbar-menu-item {
    font-size: 15px;
}

a.card {
    color: black;
    text-decoration: none
}

/* h2.lead {
    font-weight: bold;
} */

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.header-text {
    color: #EB431B
}

hr.red {
    border: 1px solid #EB431B;
    background-color:transparent;
  }